// resources.rc
#include "gui/Resources.h"

// BITMAP resources – images must be BMP format
IDB_BACKGROUND     BITMAP "assets/interface/background.bmp"
IDB_MONK_SPRITES   BITMAP "assets/interface/monk_sprites.bmp"
IDB_HANDLE_Y       BITMAP "assets/interface/handle_y.bmp"
IDB_HANDLE_X       BITMAP "assets/interface/handle_x.bmp"
IDB_HANDLE_DELAY   BITMAP "assets/interface/handle_delay.bmp"
IDB_KNOB_GLIDE     BITMAP "assets/interface/knob_glide.bmp"
IDB_KNOB_VOICE     BITMAP "assets/interface/knob_voice.bmp"
IDB_SPLASH         BITMAP "assets/interface/splash.bmp"
